[rhel6.6-web]
name=rhel6.6 web repository
baseurl={{rhel6_6_web_repo_url}}
gpgcheck=1
gpgkey={{rhel6_6_web_repo_gpg}}
enabled=1

[rhel6.6-updates-web]
name=rhel6.6 updates web repository
baseurl={{rhel6_6_web_updates_repo_url}}
gpgcheck=0
gpgkey={{rhel6_6_web_updates_repo_gpg}}
enabled=1
